<h1>Welcome to DigitalBazaar</h1>

<nav>
  <ul>
    <li><%= link_to 'About Us', '#' %></li>
    <li><%= link_to 'Features', '#' %></li>
    <li><%= link_to 'Parsing', '#' %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Profile', edit_user_registration_path %></li>
    <% else %>
      <li><%= link_to 'Start Selling', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.username %>! <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %></p>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-secondary' %>
  <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
<% end %>

<h2>Categories</h2>
<ul>
  <li><%= link_to 'Category 1', '#' %></li>
  <li><%= link_to 'Category 2', '#' %></li>
  <li><%= link_to 'Category 3', '#' %></li>
  <!-- Добавьте больше категорий здесь по мере необходимости -->
</ul>
